@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #4e4e4e;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

:root {
  --background: #141414;
  --foreground: #ededed;
  --light-black: #1a1a1a;
  --ascent: #1fe6ed;
  --font-white: #ffffff;
  --font-black: #000000;
  --border-light: rgba(255, 255, 255, 0.2);
}

.logo-light {
  display: none;
}
.logo-dark {
  display: block;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #141414;
    --font-white: #000000;
    --font-black: #ffffff;
    --light-black: hsl(0, 0%, 100%);
    --border-light: rgba(0, 0, 0, 0.2);
  }
  .logo-light {
    display: block;
  }
  .logo-dark {
    display: none;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "UberMove", sans-serif;
  font-weight: 400;
}

.border-spinner-custom {
  border-color: transparent;
  background: linear-gradient(45deg, #1fe6ed, #141414) border-box;
  mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.notification {
  position: fixed;
  top: -60px; /* Initially off-screen */
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background);
  color: var(--font-black);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--font-white);
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease;
}

.notification.show {
  top: 20px;
  opacity: 1;
}

.notification.hide {
  top: -60px;
  opacity: 0;
}

@layer base {
  @font-face {
    font-family: "UberMove";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/UberMove-Regular.woff) format("woff");
  }
  @font-face {
    font-family: "UberMove";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/UberMove-Light.woff) format("woff");
  }
  @font-face {
    font-family: "UberMove";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/UberMove-Medium.woff) format("woff");
  }
  @font-face {
    font-family: "UberMove";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/UberMove-Bold.woff) format("woff");
  }
}
